<h1> Homepage </h1>

<% if user_signed_in? %>
<ul>
<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
</ul>
<% else %>
<ul>
<li><%= link_to 'Sign up', new_user_registration_path %></li>
<li><%= link_to 'Log in', new_user_session_path %></li>
</ul>
<% end %>


<%= link_to 'Rails API test page', test_rails_api_path %>
