<h1>Rails API + Devise Token Auth</h1>

<div class="api-info">
<strong>API URL:</strong><span id='api-url'>http://grape.dev/rails_api/</span>
</div>

<p> This page is for testing out an auth using jToker connecting to devise_token_auth on a rails api.</p>
<div id="logged-out" style="display: none;">
	<strong class="message">Not Logged in</strong>
	<button id="login">Login</button>
</div>
<div id="logged-in" style="display: none;">
	<strong class="message"></strong>
	<button id="logout">Logout</button>
</div>


<div id="post-testing">
	<a href="#" id="get-posts">Get some posts</a>
	<br />
	<strong>Response</strong>
	<div id="response"></div>
</div>
